<ol class="list-unstyled">
	{% for arrangement in arrangementer |filter(arrangement => arrangement.erRegistrert() and arrangement.erSynlig() and arrangement.getSesong() > 2019 ) %}
		<li class="clearfix mb-3" style="{{ arrangement.erFerdig() ? 'opacity: .65' }}">
			{% include "user/ListeElement.html.twig" %}
		</li>
	{% else %}
		<li>{{ kurskommune.getNavn() }}
			har ingen arrangement.</li>
	{% endfor %}
</ol>
