<div class="user-arrangementer nop as-margin-top-space-3">
	{% for arrangement in arrangementer |filter(arrangement => arrangement.erRegistrert() and arrangement.erSynlig() and arrangement.getSesong() > 2019 ) %}
		<div style="{{ arrangement.erFerdig() ? 'opacity: .65' }}" class="arrangement as-margin-top-space-1 as-padding-space-2">

			{% include "user/ListeElement.html.twig" %}
		</div>
	{% else %}
		<p>{{ kurskommune.getNavn() }}
			har ingen arrangement.</p>
	{% endfor %}
</div>