
<div class="arrangementer-liste as-card-2 as-padding-space-3 as-margin-bottom-space-2" id="arrangementer">
<h3 class="nop nom as-margin-bottom-space-2">Nettsteder du har tilgang til</h3>
    <ul class="list-group" style="margin-bottom: .5em;">
        {% for blog in blogs|filter( blog => blog.userblog_id != 1) %}
            <li class="nop as-card-2 as-padding-space-2 as-margin-bottom-space-1">
                <a class="as-btn-hover-default" href="//{{UKM_HOSTNAME}}{{ blog.path }}wp-admin/">{{ blog.blogname }}</a>
            </li>
        {% else %}
            <li class="nop as-card-2 as-padding-space-2 as-margin-bottom-space-1">
                Beklager, du har ikke tilgang til å redigere informasjon for noen 
                arrangementer enda. Hvis du mener du skal ha dette, kan du ta kontakt 
                med lokalkontakten din.
            </li>
        {% endfor %}
    </ul>
</div>

<style>
.arrangementer-liste ul li.as-card-2 {
    box-shadow: none !important;
    background: var(--color-primary-bla-lightest);
}
.arrangementer-liste ul li.as-card-2 a {
    color: var(--color-primary-black);
}
</style>