{% if blog_festivalen is defined %}
    <div class="as-container">
        <div class="nop as-card-2 as-padding-space-3 as-margin-bottom-space-2 user-arrangementer" id="arrangementer">
        <h4>Arrangementer du har tilgang til</h4>
        {% for blog_fest in blog_festivalen %}
            <ol class="list-group user-arrangementer nom-impt" style="margin-top: calc(var(--initial-space-box)*2) !important;">
                <li class="list-group-item arrangement as-margin-top-space-1 noborder-impt">
                    <a class="as-btn-hover-default" href="//{{UKM_HOSTNAME}}{{ blog_fest.path }}wp-admin/">{{ blog_fest.blogname }}</a>
                </li>
            </ol>
        {% endfor %}
        </div>
    </div>
{% endif %}


