
<div class="card card_full_bredde" id="arrangementer">
<h3>Nettsteder du har tilgang til</h3>
    <ol class="list-group" style="margin-bottom: .5em;">
        {% for blog in blogs|filter( blog => blog.userblog_id != 1) %}
            <li class="list-group-item">
                <a href="//{{UKM_HOSTNAME}}{{ blog.path }}wp-admin/">{{ blog.blogname }}</a>
            </li>
        {% else %}
            <li class="">
                Beklager, du har ikke tilgang til å redigere informasjon for noen 
                arrangementer enda. Hvis du mener du skal ha dette, kan du ta kontakt 
                med lokalkontakten din.
            </li>
        {% endfor %}
    </ol>
</div>

