<style>
.img {
    background: #ddd;
    border: 2px solid #0073aa;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0.15em;
    font-size: 3em;
}
.img > .dashicons {
    font-size: 1em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    color: #0073aa;
}
</style>
<div class="card mt-0" id="currentUser">
    <div class="img img-circle" style="float:right;">
        <div class="dashicons dashicons-admin-users"></div>
    </div>
    <b>{{ current_user.display_name }}</b>
    {% if current_user.user_phone is not empty and current_user.user_phone > 0 %}
        <br />
        游님 {{ current_user.user_phone }}
    {% endif %}
	<br />
	九괦잺 {{ current_user.user_email }}


    {% if current_user.user_phone is empty or current_user.user_phone == 0 %}
        <p class="mt-3">Vi vil veldig gjerne <a href="profile.php">vite mobilnummeret ditt</a>.</p>
    {% endif %}
    <div class="clearfix" style="margin-bottom: 1.8em;"></div>
    <p>
    <a href="profile.php" class="btn btn-block btn-ukm" >rediger informasjon</a>
    </p>

    <p class="mt-4">
        <b>Dette er din personlige bruker</b><br />
        Ikke la andre f친 vite passordet ditt! Hvis flere trenger tilgang til arrang칮rsystemet, kan du legge til
        s친 mange du vil ved 친 trykke p친 din kommune/bydel i menyen til venstre.
    </p>

    <p>
        <b>
        For 친 komme tilbake hit: trykk "din profil" oppe til h칮yre. 
        </b>
    </p>
</div>