<div class="clearfix"></div>
<div class="header-dashboard" style="margin: 0px 0px 1em -20px;">VELKOMMEN TIL ARRANGØRSYSTEMET!</div>
<div class="clearfix"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8">
			{% include "user/intro.html.twig" %}
			{% include "user/arrangementer.html.twig" %}
		</div>
		<div class="col-xs-4">
			{% include "user/current_user.html.twig" %}
		</div>
	</div>
</div>