{% if post is defined %}
	{% embed "post.html.twig" %}{% endembed %}
{% elseif GET('visKurs') %}
  {% include "user/arrangement/alle.html.twig" %}
{% else %}
	{% if page == 1 %}
		<div class="clearfix"></div>
		{# <div class="header-dashboard" style="margin: 0px 0px 0em -20px;">VELKOMMEN TIL MIN SIDE!</div> #}
        {# <p class="muted" style="text-align: center; margin: 0 0 3em 0;">
            For å komme tilbake hit trykker du "Min side" oppe til høyre.
        </p> #}
		<div class="clearfix"></div>
	{% endif %}

	<div class="container-fluid as-padding-top-space-3">
		{% if page == 1 %}
			<div class="min-side-main-div">
				<div class="col-xs-12">
					{% include "user/intro.html.twig" %}
				</div>
				
				{# Main left #}
				<div class="container-left col-xs-12 col-md-8 nop">
					<div class="col-xs-12 nyheter-main">
						{% if not fylke_eller_kommunebruker and blogs|length > 1 %}
							{% include "user/arrangementer.html.twig" with { blogs : blogs|filter(blog => blog.path != '/festivalen/' ) } %}
						{% endif %}

						
						{# Festivalen - brukeren kan være admin i en kommune og arrangør i festivalen #}
						{% include "user/arrangement_festivalen.html.twig" with { blog_festivalen : blogs|filter(blog => blog.path == '/festivalen/' ) } %}


						<div class="col-xs-12 user-aktive-arrangementer nop">
							{% include "user/user_arrangementer.html.twig" %}
						</div>

						{# NYHETER - brukes ikke lenger #}
						{# <div class="siste-nyheter-minside">
							{% include "user/news.html.twig" %}
						</div> #}
					</div>
				</div>

				{# Main right #}
				<div class="container-right col-xs-12 col-md-4 nop">
					<div class="main-side-left nop col-xs-12">
						<div class="col-xs-12 nop">
							{% include "user/user_messages.html.twig" %}
						</div>

						<div class="col-xs-12 nop">
							{% include "user/kurs.html.twig" %}
						</div>
						
						<div class="col-xs-12 nop">
							{% include "user/user_fylker.html.twig" %}
						</div>
						
						<div class="col-xs-12 nop">
							{% include "user/user_kommuner.html.twig" %}
						</div>
						
						<div class="col-xs-12 nop">
							{% include "user/stimuleringsmidler_min_side.html.twig" %}
						</div>

						<div class="col-xs-12 nop">
							{% include "user/current_user.html.twig" %}
						</div>

						{# Spotify UKMpodden, UKM podden, UKM podkast #}
						{# <div class="col-xs-12 nop order-md-last">
							{% include "user/ukm_poddkast.html.twig" %}
						</div> #}

						
					</div>
				</div>
			</div>
		{% else %}
			{# <div class="">
				<div class="siste-nyheter-minside col-xs-12 nop col-md-8 order-md-last">
					{% include "user/news.html.twig" %}
				</div>
			</div> #}
		{% endif %}
    </div>
{% endif %}

<!-- CSS for min side -->
<style>
.container-right,
.container-left,
.main-side-left,
.user-aktive-arrangementer
{
	padding: 0;
}
</style>