{% if post is defined %}
	{% embed "post.html.twig" %}{% endembed %}
{% elseif GET('visKurs') %}
  {% include "user/arrangement/alle.html.twig" %}
{% else %}
	{% if page == 1 %}
		<div class="clearfix"></div>
		{# <div class="header-dashboard" style="margin: 0px 0px 0em -20px;">VELKOMMEN TIL MIN SIDE!</div> #}
        {# <p class="muted" style="text-align: center; margin: 0 0 3em 0;">
            For å komme tilbake hit trykker du "Min side" oppe til høyre.
        </p> #}
		<div class="clearfix"></div>
	{% endif %}

	<div class="container-fluid as-padding-top-space-3">
		{% if page == 1 %}
			<div class="row min-side-main-div">
				<div class="col-xs-12 col-md-8 nyheter-main">
					{% if fylke_eller_kommunebruker %}
						{% include "user/intro.html.twig" %}
					{% else %}
						{% include "user/arrangementer.html.twig" with { blogs : blogs|filter(blog => blog.path != '/festivalen/' ) } %}
					{% endif %}

					{# Festivalen - brukeren kan være admin i en kommune og arrangør i festivalen #}
					{% include "user/arrangement_festivalen.html.twig" with { blog_festivalen : blogs|filter(blog => blog.path == '/festivalen/' ) } %}

					{% include "user/news.html.twig" %}
				</div>


				<div class="main-side-left ol-xs-12 col-md-4 order-md-last">
					<div class="col-xs-12 order-md-last">
						{% include "user/user_arrangementer.html.twig" %}
					</div>

					<div class="col-xs-12 order-md-last">
						{% include "user/kurs.html.twig" %}
					</div>

					<div class="col-xs-12 order-md-last">
						{% include "user/current_user.html.twig" %}
					</div>

					{# Spotify UKMpodden, UKM podden, UKM podkast #}
					<div class="col-xs-12 order-md-last">
						{% include "user/ukm_poddkast.html.twig" %}
					</div>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-xs-12 col-md-8 order-md-last">
					{% include "user/news.html.twig" %}
				</div>
			</div>
		{% endif %}
    </div>
{% endif %}