<p class="lead">
    For 친 komme tilbake hit trykker du "din profil" oppe til h칮yre.
</p>

<p>
    Som f칮lge av regionreformen har vi mange endringer i arrang칮rsystemet i 친r:
</p>
<ol class="list-group">
    <li class="list-group-item">
        <b>Du m친 opprette arrangement</b><br />
        F칮r har vi opprettet et arrangement for deg, slik at deltakerne kan starte p친melding. 
        Dette er ikke lengre mulig, og du m친 derfor trykke deg inn p친 din kommune/bydel i menyen til venstre.
    </li>
    <li class="list-group-item">
        <b>Arrang칮rsystemet er delt i 2</b><br />
        Du er n친 i arrang칮rsystemet, og ditt brukersenter - alt her handler om deg 游땘 
        Herfra kan du lage arrangementer, bestille markedsmateriell, eller endre hvem
        som f친r administrere UKM i din kommune.
        <br />
        Hvert arrangement du oppretter har sitt eget arrangementsystem. Derfra styrer du p친meldingsfrister, p친meldte,
        legger ut nyhetssaker, bilder, filmer osv. 
    </li>
    <li class="list-group-item">
        <b>Opprett flere arrangementer</b><br />
        Fra og med i 친r kan du opprette s친 mange UKM-arrangementer du vil. Det er dermed opp til deg 친 avgj칮re hvordan
        UKM-strukturen skal se ut i din kommune/bydel. <br />
        Et lite tips fra oss: vi ser at reisetid til UKM er en viktig faktor for deltakelse. Vi tror derfor det er smart
        친 ha flere mindre arrangementer i en stor kommune, heller enn ett stort.
    </li>
    <li class="list-group-item">
        <b>Dette er din personlige bruker</b><br />
        Ikke la andre f친 vite passordet ditt! Hvis flere trenger tilgang til arrang칮rsystemet, kan du legge til
        s친 mange du vil ved 친 trykke p친 din kommune/bydel i menyen til venstre.
    </li>
</ol> 