<p class="lead">Her kan du...</p>

<p class="lead">For å komme tilbake hit, trykker du "min profil" oppe til høyre</p>

Nytt i 2019 er at du må opprette et arrangement. Det kan du gjøre ved å trykke på din kommune/bydel/fylke i menyen til venstre