<ol class="list-group">
    {# <li class="list-group-item">
        <b>Arrang칮rsystemet er delt i 2</b><br />
        Du er n친 i din side - alt her handler om deg 游땘 
        Herfra kan du lage arrangementer, bestille markedsmateriell, eller endre hvem
        som f친r administrere UKM i din kommune.
        <br />
        Hvert arrangement du oppretter har sitt eget arrangementsystem. Derfra styrer du p친meldingsfrister, p친meldte,
        legger ut nyhetssaker, bilder, filmer osv. 
    </li> #}
    <li class="list-group-item">
        <b>Opprett s친 mange UKM-arrangementer du vil!</b><br />
        Det er du som avgj칮r hvordan UKM-strukturen skal se ut i din kommune/bydel.
        <p>
            Et lite tips fra oss: vi ser at reisetid til UKM er en viktig faktor for deltakelse. Vi tror derfor det er smart
            친 ha flere mindre arrangemener, heller enn ett stort.
        </p>
    </li>
</ol> 