<style>
	.img {
		background: #ddd;
		border: 2px solid #0073aa;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		vertical-align: middle;
		padding-top: 0.15em;
		font-size: 3em;
	}
	.img > .dashicons {
		font-size: 1em;
		width: 1em;
		height: 1em;
		line-height: 1em;
		color: #0073aa;
	}
</style>
<div class="card mt-0 mb-4" id="upcomingEvents">
	<div class="img img-circle" style="float:right;">
		<div class="dashicons dashicons-calendar"></div>
	</div>
	<h4>Kurs og webinar</h4>
	<p>
		{% if kurskommune.getKommendeArrangementer().getAntall() > 0 %}
            <div class="clearfix"></div>
			<ol class="list-unstyled">
				{% for arrangement in kurskommune.getKommendeArrangementer().getAll()|filter(arrangement => arrangement.erRegistrert() and arrangement.erSynlig() and arrangement.getSesong() > 2019 ) %}
					<li class="clearfix mb-3" style="{{ arrangement.erFerdig() ? 'opacity: .65' }}">
						{% include "user/ListeElement.html.twig" %}
					</li>
				{% else %}
					<li>{{ kurskommune.getNavn() }}
						har ingen arrangement.</li>
				{% endfor %}
			</ol>
			<div class="clearfix"></div>
			<div class="mb-5"></div>
		{% else %}
			<p>Ingen planlagte kurs og webinar akkurat nå.</p>
		{% endif %}
	</p>
</div>
