<div class="card mt-0 mb-4" id="upcomingEvents">
	{% if kurskommune.getTidligereArrangementer().getAntall() > 0 %}
		<a target="_blank" rel="noopener noreferrer" href="" style="float:right; margin-top: 1.8em;">Se eldre arrangementer</a>	
	{% endif %}
	<div class="img img-circle" style="float:left; margin-top: 0.4em;">
		<div class="dashicons dashicons-calendar"></div>
	</div>
	<h4 style="margin-top: 1.2em;">&nbsp;&nbsp;Kurs og webinar</h4>
	<p>
		{% if kurskommune.getTidligereArrangementer().getAntall() > 0 %}
			<div class="clearfix"></div>
			{% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getTidligereArrangementer().getAll()|slice(0, 2)} %}
			<div class="clearfix"></div>
			<div class="mb-5"></div>	
		{% endif %}

		{% if kurskommune.getKommendeArrangementer().getAntall() > 0 %}
			<div class="clearfix"></div>
			{% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getKommendeArrangementer().getAll()} %}
			<div class="clearfix"></div>
			<div class="mb-5"></div>
		{% else %}
			<p>Ingen planlagte kurs og webinar akkurat nå.</p>
		{% endif %}
	</p>
</div>
