<style>
	.img {
		background: #ddd;
		border: 2px solid #0073aa;
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		vertical-align: middle;
		padding-top: 0.15em;
		font-size: 3em;
	}
	.img > .dashicons {
		font-size: 1em;
		width: 1em;
		height: 1em;
		line-height: 1em;
		color: #0073aa;
	}
</style>
<div class="card mt-0 mb-4" id="upcomingEvents">
	{% if kurskommune.getTidligereArrangementer().getAntall() > 0 %}
		<a target="_blank" rel="noopener noreferrer" href="" style="float:right; margin-top: 10px;">Se eldre arrangementer</a>	
	{% endif %}
	<div class="img img-circle" style="float:left;">
		<div class="dashicons dashicons-calendar"></div>
	</div>
	<h4>&nbsp;&nbsp;Kurs og webinar</h4>
	<p>
		{% if kurskommune.getTidligereArrangementer().getAntall() > 0 %}
			<div class="clearfix"></div>
			{% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getTidligereArrangementer().getAll()} %}
			<div class="clearfix"></div>
			<div class="mb-5"></div>	
		{% endif %}

		{% if kurskommune.getKommendeArrangementer().getAntall() > 0 %}
			<div class="clearfix"></div>
			{% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getKommendeArrangementer().getAll()} %}
			<div class="clearfix"></div>
			<div class="mb-5"></div>
		{% else %}
			<p>Ingen planlagte kurs og webinar akkurat nå.</p>
		{% endif %}
	</p>
</div>
