<div class="user-main-item fylker nop as-card-2 as-padding-space-3 as-margin-bottom-space-2 mt-0 mb-4">
    <div class="header-with-icon as-margin-bottom-space-4">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pinned-icon lucide-map-pinned"><path d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"/><circle cx="12" cy="8" r="2"/><path d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"/></svg>
        <h4 class="title">Fylker</h4>
    </div>
    {% for fylke in admin_fylker|sort((a, b) => a.getStart() <=> b.getStart()) %}
        <a href="admin.php?page=UKMnettverket_fylke&omrade={{fylke.getForeignId()}}&type={{fylke.getType()}}&flerefylker={{fylke.getType()=='fylke'}}" class="user-list-item fylke as-margin-top-space-1 as-padding-space-2">      
            <span class="navn">{{ fylke.getNavn() }}</span>
            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-right-icon lucide-circle-arrow-right"><circle cx="12" cy="12" r="10"/><path d="m12 16 4-4-4-4"/><path d="M8 12h8"/></svg>
        </a>
    {% endfor %}
</div>

<style>
    .user-list-item {
        display: flex;
        border-radius: var(--radius-normal);
        text-decoration: none !important;
        color: inherit !important;
    }
    .user-list-item .navn {
        margin: auto;
        margin-left: 0;
    }
    .user-list-item .nav-icon {
        margin: auto;
        margin-right: 0;
    }
    .user-list-item.fylke {
        transition: 0.3s;
        background: var(--as-color-primary-success-lightest);
    }
    .user-list-item.fylke:hover {
        background: var(--as-color-primary-success-lighter);
        cursor: pointer;
        transition: 0.3s;
    }
    .user-main-item.fylker .header-with-icon {
        display: flex;
    }
    .user-main-item.fylker .header-with-icon .icon {
        margin-right: 1em;
    }
    .user-main-item.fylker .header-with-icon .title {
        margin: auto;
        margin-left: 0;
    }
</style>