<script>
	{% if videoconverter.online %}
		google.charts.setOnLoadCallback(videoconverter_status);
	
		function videoconverter_status() {
			var data = google.visualization.arrayToDataTable([
				['Diskplass','Tilgjengelig'],
				['Brukt (GB)', {{ videoconverter.space.used|round(1)|replace(',','.') }}],
				['Ledig (GB)', {{ videoconverter.space.free|round(1)|replace(',','.') }}],
			]);
			
			var options = {
			  chartArea: {'width': '100%', 'height': '88%'},
			  pieHole: 0.4,
			  legend: 'none',
			  colors: [ '#d9534f', '#5cb85c']
			};
			
			var chart = new google.visualization.PieChart(document.getElementById('videoconverter_graph'));
			chart.draw(data, options);
		}
	{% else %}
		jQuery(document).ready(function(){
			var warning = jQuery('<div>').addClass('alert alert-danger').html('Videokonvertereren (http://videoconverter.ukm.no) ser ut til å være offline!');
			jQuery('#videoconverter_graph').html( warning );
		});
	{% endif %}
</script>

<table class="table table-dashboard {{ site.status }}">
	<thead>
		<tr class="">
			<th colspan="2">
				UKM-TV Konverterer
			</th>
		</tr>
	</thead>
	<tbody>						
		<tr>
			<td align="center">
				{% if videoconverter.online %}
					<p>
						{{ ( (100/videoconverter.space.total) * videoconverter.space.free )|round(1) }}% ledig
						<br />
						<small>
							{{ videoconverter.diskspace|filesize(0) }} av {{ videoconverter.total_diskspace|filesize(0) }}
						</small>
					</p>
				{% endif %}
				<div id="videoconverter_graph" style="width:90%; max-width: 95%; height: 120px; min-height:100px; max-height:150px;">Laster inn...</div>
			</td>
		</tr>
	</tbody>
</table>
