<div class="wrap container" id="UKMWP_wrapper" style="margin-left:0px;">
	<h1 id="top">UKM Norge: startside</h1>
	<p>Startside for UKM Norges nettsteder og nettbaserte verktøy. Denne siden er kun tilgjengelig for UKM Norge</p>
	
	{% for message in messages %}
		<div class="alert {{message.level}}">
			<strong>{{message.module}}:</strong>
			{% if message.link is defined and message.link is not empty %}
				<a href="{{message.link}}">{{message.header}}</a>
			{% else %}
				{{ message.header }}
			{% endif %}
			<span class="pull-right"><abbr title="{{message.body}}">info</abbr></span>
		</div>
	{% endfor %}
	<div class="clearfix"></div>
	
	{% embed "network/innhold.twig.html" %}{% endembed %}
	{% embed "network/support.twig.html" %}{% endembed %}
</div>