<table class="table table-dashboard">
	<thead>
		<tr>
			<th colspan="2">Logg ned til fylke- eller lokalside</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td colspan="2">
				<input type="text" name="filtrer" id="filterMonstringer" placeholder="Skriv her for å filtrere listen...." class="form-control input-sm" />
			</td>
		</tr>
		
		<tr class="small" id="container_monstringer">
			<td width="col-xs-12 col-sm-5">
				<b>Fylkesmønstringer</b>
				<br />
				<ol class="list-unstyled" id="fylkesmonstringer">
					{% for site in monstringer.fylke %}
						<li filter="{{ site.name }}" class="monstringSok">
							{{ site.name }}
							<br />
							<a href="{{ site.blog_url }}wp-admin/" target="_blank">kontrollpanel</a>
							|
							<a href="{{ site.blog_url }}" target="_blank">nettside</a>
							|
							<a href="site-users.php?id={{ site.blog_id }}" target="_blank">brukere</a>
							|
							<a href="{{ site.blog_url }}wp-admin/admin.php?page=UKMpassord" target="_blank">passordliste</a>
						</li>						
					{% endfor %}
				</ol>
				<div class="clearfix"></div>
			</td>
			<td width="col-xs-12 col-sm-7">
				<b>Lokalmønstringer</b>
				<ol class="list-unstyled" id="lokalmonstringer">
					{% for site in monstringer.lokal %}
						<li filter="{{ site.name }} {{ site.fylke }}" class="monstringSok">
							{{ site.name }} <small>({{ site.fylke }})</small>
							<br />
							<a href="{{ site.blog_url }}wp-admin/" target="_blank">kontrollpanel</a>
							|
							<a href="{{ site.blog_url }}" target="_blank">nettside</a>
							|
							<a href="site-users.php?id={{ site.blog_id }}" target="_blank">brukere</a>
						</li>						
					{% endfor %}
				</ol>
				<div class="clearfix"></div>
			</td>	
		</tr>
		<tr>
			<td colspan="2">
				<div id="plStartSearch">
					Ingen mønstringer vises før du begynner å filtrere listen
				</div>
				<div id="plNoneFound">
					Beklager, ingen fylker eller kommuner/bydeler matcher søkeordet!
				</div>
			</td>
		</tr>
	</tbody>
</table>