<h1>Support</h1>

<div class="row">
	<div class="col-xs-12 col-sm-4">
		<h4>Slå sammen brukere</h4>
		
		<form action="?page=UKMsupport&action=kjentefeil" method="post" target="_blank">	
			<div>
				<input type="text" name="merge" placeholder="Lim inn merge-streng fra e-post..." class="form-control input-sm" />
			</div>
			<input type="hidden" name="saveAction" value="merge_confirm" />
			<p><input type="submit" name="submit" value="Kontrollér" class="btn btn-primary btn-xs" /></p>		
		</form>
	</div>
	
	<div class="col-xs-12 col-sm-8">
		<h4>Logg ned til fylke- eller lokalside</h4>

		<div>
			<input type="text" name="filtrer" id="filterMonstringer" placeholder="Skriv her for å filtrere listen...." class="form-control input-sm" />
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<h5>Fylkesmønstringer</h5>
				
				<ol class="list-unstyled" id="fylkesmonstringer">
					{% for site in monstringer.fylke %}
						<li filter="{{ site.name }}" class="monstringSok">
							{{ site.name }}
							<br />
							<a href="{{ site.blog_url }}wp-admin/" target="_blank">kontrollpanel</a>
							|
							<a href="{{ site.blog_url }}" target="_blank">nettside</a>
							|
							<a href="site-users.php?id={{ site.blog_id }}" target="_blank">brukere</a>
						</li>						
					{% endfor %}
				</ol>
			</div>
			<div class="col-xs-12 col-sm-8">
				<h5>Lokalmønstringer</h5>

				<ol class="list-unstyled" id="lokalmonstringer">
					{% for site in monstringer.lokal %}
						<li filter="{{ site.name }} {{ site.fylke }}" class="monstringSok">
							{{ site.name }} <small>({{ site.fylke }})</small>
							<br />
							<a href="{{ site.blog_url }}wp-admin/" target="_blank">kontrollpanel</a>
							|
							<a href="{{ site.blog_url }}" target="_blank">nettside</a>
							|
							<a href="site-users.php?id={{ site.blog_id }}" target="_blank">brukere</a>
						</li>						
					{% endfor %}
				</ol>

			</div>
		</div>
				
		<p id="plStartSearch">Ingen mønstringer vises før du begynner å filtrere listen</p>
		<p id="plNoneFound">Beklager, ingen fylker eller kommuner/bydeler matcher søkeordet!</p>
			
	</div>

</div>