<div class="container-fluid">
	<div class="row mt-5">
        <div class="col">
            <a rel="noopener noreferrer" href="/wp-admin/user/" class="mt-5" style="margin-left: 1.2em;">Tilbake til kontrollpanelet</a>
            <h3 style="margin-left: .6em;">Arrangementer</h3>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <h5>Kommende arrangementer</h5>
            <div class="card">
                {% if kurskommune.getKommendeArrangementer().getAntall() > 0 %}
                    <div class="clearfix"></div>
                    {% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getKommendeArrangementer().getAll()} %}
                    <div class="clearfix"></div>
                    <div class="mb-5"></div>
                {% else %}
                    <p>Ingen planlagte kurs og webinar akkurat nå.</p>
                {% endif %}
            </div>
    	</div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <h5>Tidligere arrangementer</h5>
            <div class="card">
                {% if kurskommune.getTidligereArrangementer().getAntall() > 0 %}
                    <div class="clearfix"></div>
                    {% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getTidligereArrangementer().getAll()} %}
                    <div class="clearfix"></div>
                    <div class="mb-5"></div>	
                {% else %}
                    <p>Ingen tidligere kurs og webinar.</p>
                {% endif %}
            </div>
        </div>
	</div>
</div>