<div class="container-fluid">
	<div class="col-xs-12">
        <div class="col">
            <h2 style="margin-left: .5em;" class="mb-0">Kurs og webinar</h2>
            <a rel="noopener noreferrer" href="/wp-admin/user/" style="margin-left: 1.2em; margin-top: .5em">Tilbake til min side</a>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <h4>Kommende arrangementer</h4>
            <div class="card">
                {% if kurskommune.getKommendeArrangementer().getAntall() > 0 %}
                    <div class="clearfix"></div>
                    {% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getKommendeArrangementer().getAll()|sort((a, b) => b.getStart() <=> a.getStart())} %}
                    <div class="clearfix"></div>
                    <div class="mb-5"></div>
                {% else %}
                    <p>Ingen planlagte kurs og webinar akkurat nå.</p>
                {% endif %}
            </div>
    	</div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <h4>Tidligere arrangementer</h4>
            <div class="card">
                {% if kurskommune.getTidligereArrangementer().getAntall() > 0 %}
                    <div class="clearfix"></div>
                    {% include "user/ArrangementListe.html.twig" with {arrangementer: kurskommune.getTidligereArrangementer().getAll()|sort((a, b) => b.getStart() <=> a.getStart())} %}
                    <div class="clearfix"></div>
                    <div class="mb-5"></div>	
                {% else %}
                    <p>Ingen tidligere kurs og webinar.</p>
                {% endif %}
            </div>
        </div>
	</div>
</div>