{% if post is defined %}
	<div class="col-xs-12">
		{% embed "post.twig.html" %}{% endembed %}
	</div>
{% else %}
	{% if page == 1 %}
		<div class="clearfix"></div>
		<div class="header-dashboard">UKM arrangørsystem</div>
		<div class="header-shortcuts hidden-xs" style="text-align:center;">
			<ul class="list-inline">
				{% for shortcut in shortcuts %}
					<li>
						<a href="{{ shortcut.url }}">
							<img class="icon" src="{{ shortcut.icon }}" />
							<br />
							{{ shortcut.title|raw }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="wrap dashboard" style="margin-left:0px;margin-top:0px;">
			<div class="content">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						{% embed "meldinger.twig.html" %}{% endembed %}
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						{% embed "kalender.twig.html" %}{% endembed %}
					</div>
					{% if site_type %}
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						{% embed "pameldte.twig.html" %}{% endembed %}
					</div>
					{% endif %}
				</div>
	
				<div class="clearfix"></div>
			</div>
		</div>
	{% endif %}
	<div class="wrap dashboard" style="margin-left:0px;margin-top:0px;">
		<div class="content">
			<div class="row">
				{% for post in news %}
					<div class="col-xs-6 col-md-4 {{ page == 1 ? 'col-lg-2' : '' }}">
						{% embed "news.twig.html" %}{% endembed %}
					</div>
					{% if loop.index is divisibleby(6) %}
						<div class="clearfix visible-sm visible-md visible-lg"></div>
					{% endif %}
					{% if loop.index is divisibleby(2) %}
						<div class="clearfix visible-xs"></div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="clearfix"></div>
			{% if pagination_prev is defined %}
				<a href="?pagination={{pagination_prev}}" class="btn btn-default pull-left">Nyere saker</a>
			{% endif %}
			
			{% if pagination_next is defined %}
				<a href="?pagination={{pagination_next}}" class="btn btn-default pull-right">Eldre saker</a>
			{% endif %}
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>	
{% endif %}