<h2>Vi er her for å hjelpe!</h2>
<p class="lead">For tekniske spørsmål om arrangørsystem, nettsider og påmelding anbefaler vi å kontakte UKM Norge support</p>

<div class="well col-xs-12 col-sm-5 col-md-4 UKMSUPPORT_contact">
	<div class="col-xs-4">
		<img src="//grafikk.ukm.no/support/support_tech1.jpg" class="img img-circle" style="max-width: 100%;" />
	</div>
	<div class="col-xs-8">
		<h4>UKM Norge support</h4>
		(# <p class="UKMSMS" data-to="46421625" data-navn="UKM Norge Support">464 21 625</p> #)
		<p><a href="mailto:support@ukm.no">support@ukm.no</a></p>
	</div>
</div>


<div class="well col-xs-12 col-sm-5 col-md-4 UKMSUPPORT_contact">
	<div class="col-xs-4">
		<img src="//grafikk.ukm.no/support/support.jpg" class="img img-circle" style="max-width: 100%;" />
	</div>
	<div class="col-xs-8">
		<h4>Generelle henvendelser</h4>
		(# <p class="UKMSMS" data-to="46415500" data-navn="UKM Norge Sentralbord">464 15 500</p> #)
		<p><a href="mailto:kontakt@ukm.no">kontakt@ukm.no</a></p>
	</div>
</div>
