<div class="changelog">
	{% if site_type == 'kommune' and kontakter|length > 0 %}
	<div class="feature-section images-stagger-right">
		<h4>Fylkeskontakten</h4>
		<p>Kontakt med fylkeskontakten er veldig viktig, og de kan svare på de fleste spørsmål om UKM.</p>
		<table border="0" cellpadding="2" cellspacing="0" class="kontaktpersontabell">
			{% for kontakt in kontakter %}
			<tr>
				<td class="img"><img src="{{kontakt.picture}}" width="40" /></td>
				<td class="navn">{{kontakt.name}}<div class="tittel">{{kontakt.title}}</div></td>
				<td class="mobil UKMSMS">{{kontakt.phone}}</td>
				<td class="e-post"><a href="mailto:{{kontakt.mail}}">{{kontakt.mail}}</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
	<div class="feature-section images-stagger-right">
		<img src="http://grafikk.ukm.no/profil/ikoner/storby.png" width="200" class="image-50" />
		<h4>UKM Norge</h4>
		<p>For tekniske spørsmål og hjelp til arrangørsystemet bør du kontakte <a href="mailto:support@ukm.no">support@ukm.no</a> (464 21 625), mens for generelle henvendelser kan du sende e-post til <a href="mailto:ukm@ukm.no">ukm@ukm.no</a> eller ringe 464 15 500</p>
	</div>
</div>