<div class="container-fluid">
    <h1>Support</h1>
    <div class="row">
        <div class="col-xs-12 col-lg-10">
            <b>Trenger du hjelp?</b> Send oss en melding på support@ukm.no
        </div>
    </div>
</div>
